.modal {
	position: fixed;
	margin-top: 50vh;
	margin-left: 50%;
	transform: translate(calc(-50% - 2.5rem), -50%);
	z-index: 1001;
}

.modal-overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.box {
	display: inline-block;
	position: relative;
	padding: 1.5rem 3rem;
	margin-left: 50px;
	border-radius: 8px;
	background-color: rgba(15, 82, 186, 1);
	border: 1px solid rgba(0, 51, 102, 1);
}

.paragraph {
	text-align: center;
	font-size: 1.6rem;
	color: #ffffff;
}

.btn {
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
	background: none;
	outline: none;
	cursor: pointer;
	color: #ffffff;
}

.btn-box {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
}

.cancel {
	background-color: #9c2727;
	transition: background-color .2s;
}

.cancel:hover {
	background-color: #8f1b1b;
}

.confirm {
	background-color: #008141;
	transition: background-color .2s;
}

.confirm:hover {
	background-color: #00753b;
}
