.main-header {
	padding: 15rem 3rem 0;
	text-align: center;
	font-size: 3.6rem;
	color: #FFFFFF;
}

.dashboard-container {
    height: 100vh;
    width: 100%;
	background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-webkit-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-moz-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
}
