.main {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	position: absolute;
	top: 12rem;
	padding: 0 1em;
	text-align: center;
	font-size: 3rem;
	color: #ffffff;
}

.form {
	margin: 4rem 0 0 0;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
}

.first-name,
.last-name,
.email,
.bank-account,
.role,
.form-btn {
	grid-column: 1 / 3;
}

.birth-date,
.phone,
.country,
.postal-code,
.building-number,
.salary-rate {
	grid-column: 1 / 2;
	margin-right: 1rem;
}

.job-start,
.city,
.street,
.apartment-number,
.contract-type {
	grid-column: 2 / 3;
	margin-left: 1rem;
}

.social-security {
	text-wrap: nowrap;
	grid-column: 2 / 3;
	margin-left: 1rem;
}

.form-btn {
	width: 50%;
	margin: 1rem auto 1rem;
	border: none;
	padding: 1em;
	border-radius: 5px;
	background-color: #ffffff;
	transition: background-color 0.3s;
}

.form-btn:hover {
	cursor: pointer;
	background-color: #ffffffcc;
}

.modal {
	position: fixed;
	margin-top: 50vh;
	margin-left: 50%;
	transform: translate(calc(-50% - 2.5rem), -50%);
	z-index: 1001;
}

.modal-overlay {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.box {
	max-height: 95vh;
	display: inline-block;
	position: relative;
	padding: 1.5rem 3rem;
	margin-left: 50px;
	border-radius: 8px;
	background-color: rgba(15, 82, 186, 1);
	border: 1px solid rgba(0, 51, 102, 1);
	overflow: auto;
}

.paragraph {
	margin-top: 2.5rem;
	padding: 0 5rem;
	text-align: center;
	font-size: 2.4rem;
	font-weight: bold;
	color: #ffffff;
}

.btn {
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
	background: none;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	transition: background-color 0.2s;
}

.btn-box {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
}

.cancel {
	background-color: #9c2727;
}

.cancel:hover {
	background-color: #8f1b1b;
}

.confirm {
	background-color: #008141;
}

.confirm:hover {
	background-color: #00753b;
}

.close-icon {
	position: absolute;
	width: 3.6rem;
	top: 3.5rem;
	left: 2.5rem;
	cursor: pointer;
	transition: scale .2s;;
}

.close-icon:hover {
	scale: 1.05;
}

@media (min-width: 1200px) {
	.header {
		top: 14rem;
	}
	.form {
		grid-template-columns: repeat(3, 1fr);
	}
	.first-name {
		grid-column: 1 / 2;
		margin-right: 1rem;
	}
	.last-name {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.birth-date, .job-start, .country, .street, .contract-type {
		grid-column: 3 / 4;
		margin-right: 0;
		margin-left: 1rem;
	}
	.email {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
		margin-right: 1rem;
	}
	.phone, .building-number {
		grid-column: 1 / 2;
	}
	.social-security {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.city {
		grid-column: 1 / 2;
		margin-left: 0;
		margin-right: 1rem;
	}
	.postal-code, .apartment-number {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.salary-rate {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
		margin-right: 0;
		margin-left: 1rem;
	}
	.bank-account {
		grid-column: 1 / 3;
		margin-right: 1rem;
	}
	.role, .form-btn {
		grid-column: 1 / 4;
	}
	.form-btn {
		grid-column: 2 / 3;
		width: 90%;
	}
}
