.main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.name {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8rem;
    color: #FFFFFF;
}