.card {
	position: relative;
    top: 0;
	padding: 1.2em 2.4em;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
    transition: top .2s;
}

.card:hover {
    top: -5px;
    cursor: pointer;
}

.card-role-phone {
	display: flex;
	justify-content: space-around;
}

.card-phone {
    display: flex;
}

.name {
	margin-bottom: 2rem;
    font-size: 2.4rem;
}

.role {
	margin-right: 3.6rem;
}

.phone-icon {
    max-width: 1.6rem;
    margin-right: 0.4rem;
}