.main {
	position: relative;
	height: 100vh;
	width: 100%;
}

.box {
	position: absolute;
	top: 12rem;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.info-box {
}

.info-label {
	font-weight: bold;
}

.work-box {
}

.docs-box {
}

.info {
    font-size: 2rem;
	color: #ffffff;
}

.info-label {
    margin-right: .5rem;
}

@media (min-width: 992px) {
	.box {
        top: 15rem;
		height: calc(100vh - 15rem);
		grid-template-columns: repeat(3, 1fr);
	}

	.info {
		font-size: 2.4rem;
	}
}
