.main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.box {
    position: absolute;
    top: 15rem;
    width: 100%;
    height: calc(100vh - 15rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    text-align: center;
}

.info-box {

}

.work-box {

}

.docs-box {

}

.name {
    font-size: 2.8rem;
    color: #FFFFFF;
}