.main {
	height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20rem;
    margin: 15rem 1rem;
}

@media(min-width: 768px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@media(min-width: 1400px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
}