.main {
	height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20rem;
    margin: 15rem 1rem;
	background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-webkit-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-moz-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
}

@media(min-width: 768px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@media(min-width: 1400px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
}