.btn {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.container {
	width: 80%;
	min-height: 12rem;
	position: relative;
	padding: 1.2em 2.4em;
	margin-bottom: 1.5rem;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
	transition: transform 0.2s ease;
}

.header {
	position: absolute;
	top: 2rem;
	left: 2rem;
	right: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.date {
	position: absolute;
	top: 5rem;
	left: 2rem;
}

.size {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

.icon {
	height: 2rem;
	width: 2rem;
	position: absolute;
	bottom: 1rem;
}

.icon-download {
	left: 2rem;
}

.icon-delete {
	right: 2rem;
}

@media (min-width: 576px) {
	.container {
		width: 90%;
		min-height: 16rem;
	}
}

@media (min-width: 992px) {
	.size {
		transform: none;
		left: auto;
		right: 2rem;
	}
	.icon-delete {
		left: 6rem;
	}
}
