.card {
	position: relative;
	padding: 1em 2em;
	margin-bottom: 1.5rem;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
	transition: transform 0.2s ease;
}

.name {
	margin-top: 1rem;
	font-size: 2.2rem;
}

.calendar-icon {
	margin-left: -0.6rem;
	margin-right: 0.8rem;
}

.card-activated {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.dot {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: rgb(21, 180, 21);
	margin-right: 1.6rem;
}

.card-active {
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
}

.btn-container {
	display: flex;
	justify-content: space-between;
	margin-left: -0.6rem;
	margin-top: 1.5rem;
}

.btn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

@media (min-width: 576px) {
	.btn-container {
		display: inline-block;
	}
	.btn {
		margin: 0 3rem 0 0;
	}
}
