.form-label {
	display: block;
	font-size: 1.6rem;
	color: #ffffff;
	align-self: end;
	margin-bottom: 0.8rem;
}

.form-input {
	width: 100%;
	padding: 0.6em;
	border: none;
	font-size: 1.6rem;
	border-radius: 5px;
	align-self: center;
	margin-bottom: 2.4rem;
}

@media (min-width: 992px) {
	input {
		height: 4rem;
	}
}
