.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-size: 1.6rem;
}

.button:hover {
    cursor: pointer;
    background-color: #181818;
}

.button:focus {
    outline: 2px dashed black;
}

.success {
	background-color: #008141;
}

.success:hover {
	background-color: #006432;
}

.danger {
    background-color: #9c2727;
}

.danger:hover {
    background-color: #8f1b1b;
}