.modal-overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	max-width: 80%;
	/* width: 80%; */
	/* position: fixed; */
	/* margin-top: 50vh; */
	/* margin-left: 50%; */
	/* transform: translate(calc(-50% - 2.5rem), -50%); */
	/* z-index: 1001; */
}

.box {
	display: inline-block;
	position: relative;
	padding: 1.5rem 3rem;
	border-radius: 8px;
	background-color: rgba(15, 82, 186, 1);
	border: 1px solid rgba(0, 51, 102, 1);
}

.paragraph {
	margin: 0 6rem 3rem;
	text-align: center;
	font-size: 1.6rem;
	color: #ffffff;
}

.bold {
	font-weight: bold;
}

.btn {
	margin: 0 1rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
	background: none;
	outline: none;
	cursor: pointer;
	color: #ffffff;
	transition: background-color 0.2s;
}

.expire-label {
	margin-right: 1rem;
	font-size: 1.4rem;
	color: #ffffff;
}

.expire-input {
	text-align: center;
	width: 6rem;
	height: 2.4rem;
	padding: 4px;
	border: none;
	border-radius: 8px;
}

.generate-container {
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.generate-btn {
	padding: 1rem 2rem;
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 1.4rem;
	cursor: pointer;
}

.code-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.code-visible {
	display: none;
}

.generate-code {
	display: inline-block;
	padding: 0 2.4rem;
	font-size: 1.4rem;
	color: #ffffff;
}

.copy {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.cancel {
	background-color: #9c2727;
}

.close-icon {
	position: absolute;
	width: 3.6rem;
	right: 2.5rem;
	cursor: pointer;
	transition: scale 0.2s;
}

.cancel:hover {
	background-color: #8f1b1b;
}

.confirm {
	background-color: #008141;
}

.confirm:hover {
	background-color: #00753b;
}
