.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger {
	width: 3.6rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	outline: none;
	z-index: 100;
}

.burger-bars {
	height: 100%;
	width: 100%;
}

.list {
	position: fixed;
	top: 0;
	right: -100%;
	left: auto;
	width: 100%;
	height: 100vh;
	list-style: none;
	background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-webkit-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-moz-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: right 0.3s ease-out;
}

.list-item {
	margin: 5rem 0;
	text-wrap: nowrap;
}

.list-item-link {
	padding: 1em 2em;
	color: white;
	font-size: 2.4rem;
	text-decoration: none;
}

.list-item-link:focus {
	outline: 1px dashed #FFFFFF;
}

.list-item-link-logout {
	padding: 0 1em;
	background: none;
	border: none;
	cursor: pointer;
}

.opened {
	display: flex;
	flex-direction: column;
	right: 0;
	transform-origin: 0;
}

.hidden {
	display: none;
}

@media (min-width: 992px) {
	.list {
		flex-direction: row;
		justify-content: flex-start;
		right: 0;
		height: 8rem;
		background: transparent;
	}

	.burger {
		display: none;
	}
	.list-item {
		margin: 0 5rem;
		position: relative;
	}

	.list-item-link::before {
		position: absolute;
		bottom: -1.5rem;
		left: 0;
		width: 100%;
		height: 2px;
		content: '';
		background-color: #ffffff;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform 0.3s ease-out;
	}
	.list-item-link:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
	.list-item-link.active::before {
		transform: scaleX(1);
		transform-origin: left;
	}
	.list-item-link.active:hover::before {
		transform: scaleX(1);
	}
}

@media((min-width: 992px) and (max-width: 1200px)) {
	.list-item {
		margin: 0 2rem; 
	}
}