.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger {
	width: 3.6rem;
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	outline: none;
	z-index: 100;
}

.burger-bars {
	height: 100%;
	width: 100%;
}

.list {
	position: fixed;
	top: 0;
	right: -100%;
    left: auto;
	width: 100%;
	height: 100vh;
	list-style: none;
	background-color: #252525;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: right 0.3s ease-out;
}

.list-item {
	margin: 5rem 0;
}

.list-item-link {
	padding: 1em 2em;
	color: white;
	font-size: 2.4rem;
	text-decoration: none;
}

.opened {
	display: flex;
	flex-direction: column;
	right: 0;
    transform-origin: 0;
}