.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger {
	position: absolute;
	top: 2rem;
	right: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.list {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100vh;
	list-style: none;
	background-color: #252525;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: left 0.3s ease-out;
}

.list-item {
	margin: 5rem 0;
}

.list-item-link {
	padding: 1em 2em;
	color: white;
	font-size: 2.4rem;
	text-decoration: none;
}

.opened {
	display: flex;
	flex-direction: column;
	left: 50%;
	transform: translateX(-50%);
}