.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 12rem;
	position: relative;
	padding: 1.2em 2.4em;
	margin-bottom: 1.5rem;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
	transition: transform 0.2s ease;
	text-align: center;
	transition: background-color .2s;
}

.upload {
	display: none;
}

.highlight {
	font-weight: bold;
}

.highlight:hover {
	text-decoration: underline;
	cursor: pointer;
}

.icon-container {
	margin-top: 1.5rem;
}

.icon {
	width: 3rem;
}

.dragging {
	background-color: rgb(12, 71, 159);
}

@media (min-width: 576px) {
	.container {
		width: 90%;
		min-height: 16rem;
	}
}
