.card {
	position: relative;
	padding: 1.2em 2.4em;
	margin-bottom: 1.5rem;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
	transition: transform 0.2s ease;
	overflow: hidden;
}

.card:hover {
	transform: translateY(-5px);
	cursor: pointer;
}

.name {
	text-align: center;
	margin-top: 1rem;
	font-size: 2.2rem;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.plus-circle {
	position: absolute;
	margin-bottom: 3.6rem;
	width: 4.2rem;
}

@media (min-width: 992px) {
	.name {
		font-size: 2.4rem;
	}
}
