.main {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-webkit-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-moz-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
}

.header {
	position: absolute;
	top: 12rem;
	padding: 0 1em;
	text-align: center;
	font-size: 3rem;
	color: #ffffff;
}

.form {
	margin: 23rem 5rem 0 5rem;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
}

.first-name,
.last-name,
.email,
.bank-account,
.role,
.form-btn {
	grid-column: 1 / 3;
}

.birth-date,
.phone,
.country,
.postal-code,
.building-number,
.salary-rate {
	grid-column: 1 / 2;
	margin-right: 1rem;
}

.job-start,
.city,
.street,
.apartment-number,
.contract-type {
	grid-column: 2 / 3;
	margin-left: 1rem;
}

.social-security {
	text-wrap: nowrap;
	grid-column: 2 / 3;
	margin-left: 1rem;
}

.form-btn {
	width: 50%;
	margin: 2rem auto 5rem;
	border: none;
	padding: 1em;
	border-radius: 5px;
	background-color: #ffffff;
	transition: background-color 0.3s;
}

.form-btn:hover {
	cursor: pointer;
	background-color: #ffffffcc;
}

@media (min-width: 992px) {
	.header {
		top: 14rem;
	}
	.form {
		grid-template-columns: repeat(3, 1fr);
	}
	.first-name {
		grid-column: 1 / 2;
		margin-right: 1rem;
	}
	.last-name {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.birth-date, .job-start, .country, .street, .contract-type {
		grid-column: 3 / 4;
		margin-right: 0;
		margin-left: 1rem;
	}
	.email {
		grid-row: 2 / 3;
		grid-column: 1 / 3;
		margin-right: 1rem;
	}
	.phone, .building-number {
		grid-column: 1 / 2;
	}
	.social-security {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.city {
		grid-column: 1 / 2;
		margin-left: 0;
		margin-right: 1rem;
	}
	.postal-code, .apartment-number {
		grid-column: 2 / 3;
		margin: 0 1rem;
	}
	.salary-rate {
		grid-column: 3 / 4;
		grid-row: 5 / 6;
		margin-right: 0;
		margin-left: 1rem;
	}
	.bank-account {
		grid-column: 1 / 3;
		margin-right: 1rem;
	}
	.role, .form-btn {
		grid-column: 1 / 4;
	}
	.form-btn {
		text-align: center;
	}
}
