.main {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-webkit-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
	-moz-background: linear-gradient(21deg, rgba(0, 51, 102, 1), rgba(15, 82, 186, 1));
}

.header {
	position: absolute;
	top: 10rem;
	padding: 0 1em;
	text-align: center;
	font-size: 3rem;
	color: #ffffff;
}

.form {
    margin-top: 23rem;
	display: grid;
	grid-template-rows: auto;
}

.form-btn {
	width: 50%;
	margin: 2rem auto 5rem;
	border: none;
	padding: 1em;
	border-radius: 5px;
	background-color: #ffffff;
	transition: background-color 0.3s;
}

.form-btn:hover {
	cursor: pointer;
	background-color: #ffffffcc;
}

@media (min-width: 992px) {
	.header {
		top: 16rem;
	}
}