.card {
	position: relative;
	padding: 1em 2em;
	margin-bottom: 1.5rem;
	background-color: rgba(15, 82, 186, 1);
	box-shadow: 1px 0px 26px 2px rgba(0, 51, 102, 1);
	border-radius: 8px;
	font-size: 1.6rem;
	color: white;
	transition: transform 0.2s ease;
}

.name {
    text-align: center;
	margin-top: 1rem;
	font-size: 2.2rem;
}

.icon {
    width: 3.6rem;
    margin-top: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}